In [34]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from matplotlib import pyplot as plt
import re

In [35]:
german_credit = pd.read_csv('GermanCredit.csv')
result_df = german_credit.copy()
result_df.replace('none', np.nan, inplace=True)
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   int64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   int64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   int64
 8   personal_status         1000 non-null   object
 9   other_parties           93 non-null     object
 10  residence_since         1000 non-null   int64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   int64
 13  other_payment_plans     186 non-null    object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   int64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   int64
 18  own_telephone           404 non-null    object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: int64(7), object(14)
memory usage: 164.2+ KB

#### **PREPROCESSING**

#### [1] Drop the 3 columns that contribute the least to the dataset. These would be the columns with the highest number of non-zero 'none' values. Break ties by going left to right in columns. (Your code should be generalizable to drop n columns, but for the rest of the analysis, you can call your code for n=3.)

In [36]:
def drop_columns(df, n=3):
    i = 0
    while i < n :
        least_useful_column_index = df.count().idxmin()
        df = df.drop(least_useful_column_index, axis =1)
        i+=1
    return df

In [37]:
# Pass in parameter n to drop n number of columns
result_df = drop_columns(result_df)

#### [2] Certain values in some of the columns contain unnecessary apostrophes (‘). Remove the apostrophes

In [38]:
result_df = result_df.applymap(lambda x: str(x).strip("''"))
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   object
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   object
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   object
 8   personal_status         1000 non-null   object
 9   residence_since         1000 non-null   object
 10  property_magnitude      1000 non-null   object
 11  age                     1000 non-null   object
 12  housing                 1000 non-null   object
 13  existing_credits        1000 non-null   object
 14  job                     1000 non-null   object
 15  num_dependents          1000 non-null   object
 16  foreign_worker          1000 non-null   object
 17  class                   1000 non-null   object
dtypes: object(18)
memory usage: 140.8+ KB

#### [3] The checking_status column has values in 4 categories: 'no checking', '<0', '0<=X<200', and '>=200'. Change these to 'No Checking', 'Low', 'Medium', and 'High' respectively

In [39]:
result_df['checking_status'] = result_df['checking_status'].apply(str)
no_checking = lambda x: re.sub(r'no checking', 'No Checking', x)
low =lambda x: re.sub(r'<0', 'Low', x)
medium = lambda x: re.sub(r'0<=X<200', 'Medium', x)
high = lambda x: re.sub(r'>=200', 'High', x)
result_df['checking_status'] = result_df['checking_status'].apply(no_checking)
result_df['checking_status'] = result_df['checking_status'].apply(low)
result_df['checking_status'] = result_df['checking_status'].apply(medium)
result_df['checking_status'] = result_df['checking_status'].apply(high)
result_df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,foreign_worker,class
0,Low,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,4,real estate,67,own,2,skilled,1,yes,good
1,Medium,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,2,real estate,22,own,1,skilled,1,yes,bad
2,No Checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,3,real estate,49,own,1,unskilled resident,2,yes,good
3,Low,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,4,life insurance,45,for free,1,skilled,2,yes,good
4,Low,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,4,no known property,53,for free,2,skilled,2,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,No Checking,12,existing paid,furniture/equipment,1736,<100,4<=X<7,3,female div/dep/mar,4,real estate,31,own,1,unskilled resident,1,yes,good
996,Low,30,existing paid,used car,3857,<100,1<=X<4,4,male div/sep,4,life insurance,40,own,1,high qualif/self emp/mgmt,1,yes,good
997,No Checking,12,existing paid,radio/tv,804,<100,>=7,4,male single,4,car,38,own,1,skilled,1,yes,good
998,Low,45,existing paid,radio/tv,1845,<100,1<=X<4,4,male single,4,no known property,23,for free,1,skilled,1,yes,bad
999,Medium,45,critical/other existing credit,used car,4576,100<=X<500,unemployed,3,male single,4,car,27,own,1,skilled,1,yes,good

#### [4] The savings_status column has values in 4 categories: 'no known savings', '<100', '100<=X<500', '500<=X<1000', and '>=1000'. Change these to 'No Savings', 'Low', 'Medium', 'High', and 'High' respectively. (Yes, the last two are both 'High')

In [40]:
result_df['savings_status'] = result_df['savings_status'].apply(str)
for id, row in result_df.iterrows():
    if row['savings_status'] == 'no known savings':
        result_df.loc[id, 'savings_status'] = 'No Savings'
    if row['savings_status'] == '<100':
        result_df.loc[id, 'savings_status'] = 'Low'
    if row['savings_status'] == '100<=X<500':
        result_df.loc[id, 'savings_status'] = 'Medium'
    if row['savings_status'] == '500<=X<1000':
        result_df.loc[id, 'savings_status'] = 'High'
    if row['savings_status'] == '>=1000':
        result_df.loc[id, 'savings_status'] = 'High'
result_df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,foreign_worker,class
0,Low,6,critical/other existing credit,radio/tv,1169,No Savings,>=7,4,male single,4,real estate,67,own,2,skilled,1,yes,good
1,Medium,48,existing paid,radio/tv,5951,Low,1<=X<4,2,female div/dep/mar,2,real estate,22,own,1,skilled,1,yes,bad
2,No Checking,12,critical/other existing credit,education,2096,Low,4<=X<7,2,male single,3,real estate,49,own,1,unskilled resident,2,yes,good
3,Low,42,existing paid,furniture/equipment,7882,Low,4<=X<7,2,male single,4,life insurance,45,for free,1,skilled,2,yes,good
4,Low,24,delayed previously,new car,4870,Low,1<=X<4,3,male single,4,no known property,53,for free,2,skilled,2,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,No Checking,12,existing paid,furniture/equipment,1736,Low,4<=X<7,3,female div/dep/mar,4,real estate,31,own,1,unskilled resident,1,yes,good
996,Low,30,existing paid,used car,3857,Low,1<=X<4,4,male div/sep,4,life insurance,40,own,1,high qualif/self emp/mgmt,1,yes,good
997,No Checking,12,existing paid,radio/tv,804,Low,>=7,4,male single,4,car,38,own,1,skilled,1,yes,good
998,Low,45,existing paid,radio/tv,1845,Low,1<=X<4,4,male single,4,no known property,23,for free,1,skilled,1,yes,bad
999,Medium,45,critical/other existing credit,used car,4576,Medium,unemployed,3,male single,4,car,27,own,1,skilled,1,yes,good

#### [5] Change class column values from 'good' to '1' and 'bad' to '0'

In [41]:
result_df['class'] = result_df['class'].apply(str)
good_class = lambda x: re.sub(r'good', '1', x)
bad_class = lambda x: re.sub(r'bad', '0', x)
result_df['class'] = result_df['class'].apply(good_class)
result_df['class'] = result_df['class'].apply(bad_class)
result_df['class'] = result_df['class'].apply(int)
result_df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,foreign_worker,class
0,Low,6,critical/other existing credit,radio/tv,1169,No Savings,>=7,4,male single,4,real estate,67,own,2,skilled,1,yes,1
1,Medium,48,existing paid,radio/tv,5951,Low,1<=X<4,2,female div/dep/mar,2,real estate,22,own,1,skilled,1,yes,0
2,No Checking,12,critical/other existing credit,education,2096,Low,4<=X<7,2,male single,3,real estate,49,own,1,unskilled resident,2,yes,1
3,Low,42,existing paid,furniture/equipment,7882,Low,4<=X<7,2,male single,4,life insurance,45,for free,1,skilled,2,yes,1
4,Low,24,delayed previously,new car,4870,Low,1<=X<4,3,male single,4,no known property,53,for free,2,skilled,2,yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,No Checking,12,existing paid,furniture/equipment,1736,Low,4<=X<7,3,female div/dep/mar,4,real estate,31,own,1,unskilled resident,1,yes,1
996,Low,30,existing paid,used car,3857,Low,1<=X<4,4,male div/sep,4,life insurance,40,own,1,high qualif/self emp/mgmt,1,yes,1
997,No Checking,12,existing paid,radio/tv,804,Low,>=7,4,male single,4,car,38,own,1,skilled,1,yes,1
998,Low,45,existing paid,radio/tv,1845,Low,1<=X<4,4,male single,4,no known property,23,for free,1,skilled,1,yes,0
999,Medium,45,critical/other existing credit,used car,4576,Medium,unemployed,3,male single,4,car,27,own,1,skilled,1,yes,1

#### [6] Change the employment column value 'unemployed' to 'Unemployed', and for the others, change to 'Amateur', 'Professional', 'Experienced' and 'Expert', depending on year range

In [42]:
pd.unique(result_df['employment'])
# unemployed = Unemployed
# <1 = Amateur
# 1<=X<4 = Professional 
# 4<=X<7 = Experienced
# >=7 = Expert

array(['>=7', '1<=X<4', '4<=X<7', 'unemployed', '<1'], dtype=object)

In [43]:
result_df['employment'] = result_df['employment'].apply(str)
Unemployed = lambda x: re.sub(r'unemployed', 'Unemployed', x)
Amateur = lambda x: re.sub(r'<1', 'Amateur', x)
Professional =lambda x: re.sub(r'1<=X<4', 'Professional', x)
Experienced = lambda x: re.sub(r'4<=X<7', 'Experienced', x)
Expert = lambda x: re.sub(r'>=7', 'Expert', x)
result_df['employment'] = result_df['employment'].apply(Unemployed)
result_df['employment'] = result_df['employment'].apply(Amateur)
result_df['employment'] = result_df['employment'].apply(Professional)
result_df['employment'] = result_df['employment'].apply(Experienced)
result_df['employment'] = result_df['employment'].apply(Expert)
result_df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,foreign_worker,class
0,Low,6,critical/other existing credit,radio/tv,1169,No Savings,Expert,4,male single,4,real estate,67,own,2,skilled,1,yes,1
1,Medium,48,existing paid,radio/tv,5951,Low,Professional,2,female div/dep/mar,2,real estate,22,own,1,skilled,1,yes,0
2,No Checking,12,critical/other existing credit,education,2096,Low,Experienced,2,male single,3,real estate,49,own,1,unskilled resident,2,yes,1
3,Low,42,existing paid,furniture/equipment,7882,Low,Experienced,2,male single,4,life insurance,45,for free,1,skilled,2,yes,1
4,Low,24,delayed previously,new car,4870,Low,Professional,3,male single,4,no known property,53,for free,2,skilled,2,yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,No Checking,12,existing paid,furniture/equipment,1736,Low,Experienced,3,female div/dep/mar,4,real estate,31,own,1,unskilled resident,1,yes,1
996,Low,30,existing paid,used car,3857,Low,Professional,4,male div/sep,4,life insurance,40,own,1,high qualif/self emp/mgmt,1,yes,1
997,No Checking,12,existing paid,radio/tv,804,Low,Expert,4,male single,4,car,38,own,1,skilled,1,yes,1
998,Low,45,existing paid,radio/tv,1845,Low,Professional,4,male single,4,no known property,23,for free,1,skilled,1,yes,0
999,Medium,45,critical/other existing credit,used car,4576,Medium,Unemployed,3,male single,4,car,27,own,1,skilled,1,yes,1

#### **ANALYSIS**

#### [1] Often we need to find correlations between categorical attributes, i.e. attributes that have values that fall in one of several categories, such as "yes"/"no" for attr1, or "low","medium","high" for attr2. One such correlation is to find counts in combinations of categorial values across attributes, as in how many instances are "yes" for attr1 and "low" for attr2. A good way to find such counts is to use the Pandas crosstab function. Do this for the following two counts.

##### [a] Get the count of each category of foreign workers (yes and no) for each class of credit (good and bad)

In [44]:
g = pd.crosstab(result_df['foreign_worker'],result_df['class'])
g

class             0    1
foreign_worker
no                4   33
yes             296  667

##### [b] Similarly, get the count of each category of employment for each category of saving_status

In [45]:
h= pd.crosstab(result_df['employment'], result_df['savings_status'])
h

savings_status  High  Low  Medium  No Savings
employment
Amateur           12  120      17          23
Experienced       18  100      24          32
Expert            34  133      22          64
Professional      44  210      33          52
Unemployed         3   40       7          12

In [46]:
single_group = result_df.groupby(['personal_status', ]).sum()
single_group.reset_index()
pd.value_counts(single_group.values.flatten())

30     1
67     1
402    1
201    1
dtype: int64

#### [2] Find the average credit_amount of single males that have 4<=X<7 years of employment. You can leave the raw result as is, no need for rounding

In [48]:
result_df['credit_amount'] = result_df['credit_amount'].apply(int)
single_group = result_df.groupby(['personal_status', 'employment']).sum()
avg = single_group['credit_amount'].get_group(('male single', 'Experienced')).mean()
print(f' The average credit amount of single males that have 4 to 7 years of employment is {avg}')
single_group = result_df.groupby(['personal_status', 'employment']).sum()

AttributeError: 'Series' object has no attribute 'get_group'

#### [3] Find the average credit duration for each of the job types. You can leave the raw result as is, no need for rounding

In [ ]:
result_df['duration'] =result_df['duration'].apply(int)
result_df.groupby('job', as_index=False, sort= False)['duration'].mean()

#### [4] For the purpose 'education', what is the most common checking_status and savings_status? Your code should print: 
##### Most common checking status: ...
##### Most common savings status: ...

In [ ]:
purpose_group = result_df.groupby('purpose')
a = purpose_group.get_group('education').value_counts('checking_status')
b = purpose_group.get_group('education').value_counts('savings_status')
print(f'Most common checking status: {a.keys()[0]}')
print(f'Most common savings status: {b.keys()[0]}')

#### **VISUALIZATION**

#### [1] Plot subplots of two histograms: one with savings_status on the x-axis and personal_status as different colors, and another with checking_status on the x-axis and personal_status as different colors

In [ ]:
fig, axes = plt.subplots(1,2,figsize=(10,5),sharey=True)
fig.tight_layout(pad=4.0)
pd.crosstab(result_df['savings_status'], result_df['personal_status']).plot(kind ='bar', ax = axes[0])
pd.crosstab(result_df['checking_status'], result_df['personal_status']).plot(kind ='bar', ax = axes[1])
plt.show()

#### [2] For people having credit_amount more than 4000, plot a bar graph which maps property_magnitude (x-axis) to the average customer age for that magnitude (y-axis)

In [ ]:
result_df['age'] =result_df['age'].apply(int)
tempdf = result_df[result_df['credit_amount'] > 4000]
g = tempdf.groupby('property_magnitude', as_index=False, sort= False)['age'].mean()
plt.figure(figsize=(10,8))
plt.bar(g['property_magnitude'], g['age'], color= '#bffa45')
plt.yticks(range(0,51,5))
plt.xlabel('Property Magnitude', fontsize = 13)
plt.ylabel('Average Customer Age', fontsize = 13)
plt.show()

#### [3] For people with a "High" savings_status and age above 40, use subplots to plot the following pie charts:
##### a) Personal status
##### b) Credit history
##### c) Job

In [ ]:
result_df['age'] = result_df['age'].apply(int)
high_savings = result_df[(result_df['savings_status'] == 'High') &(result_df['age'] > 40)]
high_savings.head(10)

In [ ]:
fig, axes = plt.subplots(1,3,figsize=(20,20))
fig.tight_layout(pad =15)
personal = high_savings['personal_status'].value_counts()
credit = high_savings['credit_history'].value_counts()
job = high_savings['job'].value_counts()
axes[0].pie(personal, labels = personal.keys())
axes[0].set_title('Personal Status', fontsize = 15)
axes[1].pie(credit, labels = credit.keys())
axes[1].set_title('Credit History', fontsize = 15)
axes[2].pie(job, labels = job.keys())
axes[2].set_title('Job', fontsize = 15)
plt.show()

In [49]:
print(pandas.__version__)

NameError: name 'pandas' is not defined